{% extends 'base.html' %}
{% block main %}
<h2>Your Cart</h2>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart %}
      <tr class="{% if loop.index is odd %}odd_row{% else %}even_row{% endif %}">
        <td>{{ item['name'] }}</td>
        <td>{{ item['price'] }}</td>
        <td>
          <form action="{{ url_for('main.remove_from_cart', item_id=item['id']) }}" method="post">
            <button type="submit" class="button">Remove</button>
          </form>
        </td>
      </tr>
    {% endfor %}
</tbody>
<tfoot>
  <tr>
    <td colspan="2" class="total">Total:</td>
    <td class="total">{{ total }}</td>
  </tr>
</tfoot>
</table>
<a href="{{ url_for('main.index') }}" class="button" style="margin-top: 30px; display: inline-block;">Home</a>
{% endblock %}