{% extends 'base.html' %}
{% block main %}
<title>Welcome to Mystic Burgers!</title>
<p>
<!DOCTYPE html>
    <script type="text/javascript">
        function simple_action(target) {
            window.location = target
        }
    </script>
    <html lang="en">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <nav>
                {% if current_user.is_authenticated %}
                    <button type="button" class="button" onclick="simple_action('{{ url_for('main.signout') }}')">Sign Out</button>
                    <button type="button" class="button" onclick="simple_action('{{ url_for('main.cart') }}')">Cart</button>
                    {% if current_user.is_admin %}
                        <button type="button" class="button" onclick="simple_action('{{ url_for('main.update_recipe') }}')">Update Recipe</button>
                        <button type="button" class="button" onclick="simple_action('{{ url_for('main.create_recipe') }}')">Create Recipe</button>
                        <button type="button" class="button" onclick="simple_action('{{ url_for('main.delete_recipe') }}')">Delete Recipe</button>
                    {% endif %}
                {% else %}
                    <button type="button" class="button" onclick="simple_action('{{ url_for('main.login') }}')">Login</button>
                    <button type="button" class="button" onclick="simple_action('{{ url_for('main.signup') }}')">Sign Up</button>
                {% endif %}
            </nav>
        </header>
        <section class="results-section">
            <h1>Search</h1>
            <form method="get" action="/">
                <div> <!-- Text search box -->
                    <label for="search">Search by Item Name:</label>
                    <input type="text" name="search" placeholder="Search by category or item" value="{{ request.args.get('search', '') }}">
                </div>
                <div> <!-- Dropdown for categories -->
                    <label for="category">Filter by Category:</label>
                    <select name="category">
                        <option value="">Select Category</option>
                        {% for category in categories %}
                            <option value="{{ category }}" {% if request.args.get('category') == category %}selected{% endif %}>{{ category }}</option>
                        {% endfor %}
                    </select>                
                </div>
                <div><!-- Dropdown for restaurants -->
                    <label for="store">Filter by Restaurant:</label>
                    <select name="store">
                        <option value="">Select Restaurant</option>
                        {% for store in stores %}
                            <option value="{{ store }}" {% if request.args.get('store') == store %}selected{% endif %}>{{ store }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <button type="submit">Search</button>
            </form>
            <h1>Menu</h1>
            {% if recipes %}
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Category</th>
                            <th>Magic</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Store</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for recipe in recipes %}
                        <tr class="{{ loop.index % 2 == 0 and 'even_row' or 'odd_row' }}">
                            <td>{{ recipe.item }}</td>
                            <td>{{ recipe.category }}</td>
                            <td>{{ recipe.magic }}</td>
                            <td>{{ recipe.description }}</td>
                            <td>{{ recipe.price }}</td>
                            <td>{{ recipe.store }}</td>
                            {% if current_user.is_authenticated %}
                                <td>
                                    <form method="POST" action="{{ url_for('main.add_to_cart', item_id=recipe.id) }}">
                                        <button type="submit" class="button">Add to Cart</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pagination">
                    {% if pagination.has_prev %}
                        <a href="{{ url_for('main.index', page=pagination.prev_num, sort_by=sort_by) }}">Previous</a>
                    {% endif %}

                    {% for page_num in pagination.iter_pages() %}
                        {% if page_num %}
                            {% if page_num == pagination.page %}
                                <strong>{{ page_num }}</strong>
                            {% else %}
                                <a href="{{ url_for('main.index', page=page_num, sort_by=sort_by) }}">{{ page_num }}</a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}

                    {% if pagination.has_next %}
                        <a href="{{ url_for('main.index', page=pagination.next_num, sort_by=sort_by) }}">Next</a>
                    {% endif %}
                </div>
            {% else %}
                <p>No menu items are found matching your search criteria.</p>
            {% endif %}
        </section>
    </body>
    </html>
{% endblock %}